@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #e3e6e6;
    font-family: 'Inter', sans-serif;
}

nav{
    background-color: black;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    /* mobile scerrn pr width: fit-content; */
}

.frnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    /* filter: invert(1); */
    margin: 0 5px;
}

.search input {
    padding: 10px;
    width: 35rem;
    outline-color: #626aff;
}

.search button {
    padding: 10px;
    background-color: #626aff;
    cursor: pointer;
    color: #fff;
}

.login-btn button {
    padding: 10px;
    background-color: #626aff;
    cursor: pointer;
    color: #fff;  
    margin: 0 10px;

}

.senav{
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* -----------Menuu Btn----------- */

.senav i {
    left: 10px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    display: none;
}


.nav-list{
    display: flex;
    font-size: 18px;
}

.nav-list li{
    list-style: none;
    margin: 0 60px;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
}

.nav-list a:hover{
    border-bottom: 1px solid rgb(231, 231, 231); 
}

.home{
    text-align: center;
}

.home-img{
    padding: 10px;
    margin: 40px 70px;
}
.home-img1{
    padding: 10px;
    margin: 40px 70px;
}
.home img{
    width: 70%;
}

.saree-head h2{
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

.sarees-img-name{
    display: flex;
}

.p2j {
    margin-top: 40px;
}
.p3j{
    margin-top: 18px;
}

.box-shd{
    background-color: white;
    box-shadow: 0px 0px 18px -7px #3c3c3c;
}

.sare-with-name-img{
    padding: 5px;
    text-align: center;
    margin: 0px 35px;
    width: 50rem;
}
.sare-with-name-img2{
    padding: 5px;
    text-align: center;
    margin: 0px 35px;
    width: 50rem;
}

.box-shd img{
    width: 190px;
}


.box-shd p{
    padding: 15px 0px;
}

.box-shd a {
    text-decoration: none;
    color: rgb(74, 102, 255);
}

.more-saree-btn p {
    color: #626aff;
    font-size: 20px;
}

.more-saree-btn {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin: 5px 35px;
    align-items: center;
}


button.btn {
    background-color: #f1d352;
    padding: 10px 0;
    border: none;
    font-size: 11px;
}

button.btn:hover{
    border: 1px solid gray;
}

.btn a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

/* our mens store start  */
.mens-pro-with-name-img img{
    width: 190px;
}

.ban-saree{
    margin-top: 30px;
}

.tq-txt {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: blue;
}

.outsetborder{
    border-style: outset;
    margin: 25px 10px;
    box-shadow: 0px 0px 5px 0px grey;
}


/* Our footer section start  */

.footer{
    bottom: 0;
    width: 100%;
    position: sticky;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.foot{
    background-color: black;
}


.ffoot {
    background: #242424;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.foot-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.foot-list li{
    list-style: none;
}
.foot-list li a{
    text-decoration: none;
    color: #fff;
    margin: 10px 60px;
    font-size: 25px;
}
.foot-list li a:hover{
    color: #d4d4d4;
}
.end{
    background-color: #242424;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.contect-hd h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.map-em{
    border: 1px solid gray;
    margin: 30px 15px;
}

.contect-head {
    margin: 15px 0;
    font-size: 20px;
}

.map-em iframe {
    width: 100%;
    height: 40rem;
}

/* phone screen start  */
@media only screen and (max-width:800px){
    .search{
        display: none;
    }
    .login-btn{
        display: none;
    }
    .frnav{
        justify-content: center;
    }
    #none{
        display: none;
    }
    .nav-list li {
        list-style: none;
        margin: 0 14px;
    }
    .sarees-img-name {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .sare-with-name-img {
        width: 97%;
        margin: 10px 0;
    }
    .sare-with-name-img2 {
        width: 97%;
        margin: 20px 0px;
    }
    .foot-list {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
        height: auto;
    }
    .foot-list li a{
        font-size: 20px;
    }

    
}